<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyCafe</title>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/JwtUtils.js}"></script>

    <script type="text/javascript" th:src="@{/js/common/websocket/Websocket.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/modals/BaseModal.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/modals/LoginModal.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/modals/MySeatModal.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/modals/NoticeModal.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/modals/SignUpModal.js}"></script>

    <script type="text/javascript" th:src="@{/js/common/api/ApiService.js}"></script>
    <script type="text/javascript" th:src="@{/js/seats/SeatManager.js}"></script>
    <script type="text/javascript" th:src="@{/js/seats/seats.js}"></script>


    <style>
        .menu {
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            cursor: pointer;
            color: white;
        }

        .menu:hover {
            background-color: #232F21;
        }

        .seat_info {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: black;
        }

        .seat_color {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-left: 5px;
            border: lightgray solid 1px;
        }
    </style>
</head>
<body>

<div style="width:100%; height: 48px; display: flex; border-bottom: lightgray solid 1px; background-color: #232f46;">
    <div style="width: 30%; height: 100%; display: flex;">
        <div id="studyCafeName" class="menu" style="width: 150px;">
            Study Cafe
        </div>
    </div>
    <div style="width: 70%; height: 100%; display: flex; justify-content: flex-end;">
        <div id="loginBtn" class="menu">
            로그인
        </div>
        <div id="signUpBtn" class="menu">
            회원가입
        </div>
        <div id="reservationBtn" class="menu">
            좌석 예약
        </div>
        <div id="mySeatBtn" class="menu">
            내 좌석 정보
        </div>
        <div id="logoutBtn" class="menu">
            로그아웃
        </div>
    </div>
</div>
<div style="height: 40px; width: 100%; display: flex;">

    <div style="width: 50%; display: flex; justify-content: flex-start;">
        <div class="ui mini" style="display: flex; justify-content: center;align-items: center; padding: 10px;">
            <select id="roomSelect" class="ui compact selection dropdown">
            </select>
        </div>
    </div>
    <div style="width: 50%; display: flex; justify-content: flex-end;">
        <div class="seat_info">
            <span class="seat_color" style="background-color: black;"></span>
            예약자&nbsp;
            <span id="reservationCountText">0</span>명
        </div>

        <div class="seat_info" style="width: 120px;">
            <span class="seat_color" style="background-color: white;"></span>
            빈 좌석&nbsp;
            <span id="unusedSeats">0</span>개
        </div>
        <div class="seat_info" style="width: 130px;">
            <span class="seat_color" style="background-color: beige; "></span>
            사용 좌석 &nbsp;
            <span id="usedSeats">0</span>개
        </div>
        <div class="seat_info" style="width: 140px;">
            <span class="seat_color" style="background-color: gray;"></span>
            사용불가 좌석 &nbsp;
            <span id="limitedSeats">0</span>개
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center;height: 100%;">
    <div id="seatBaseDiv" style="padding: 10px;">
    </div>
</div>

<div style="width:100%; height: 48px; display: flex; justify-content: center; align-items: center;color: white; border: lightgray solid 1px; background-color: #232f46;">
    서울시 관악구 신대방로 22 나길 보라매
</div>

<div>
    <div id="signUpDiv" class="ui form">
        <div class="field required">
            <label>이메일</label>
            <div class="ui action input">
                <input id="email" type="text"/>
                <button id="requestEmailCodeBtn" class="ui button">인증</button>
            </div>
        </div>
        <div class="field">
            <label>인증 코드</label>
            <input id="emailCode" type="text"/>
        </div>
        <div class="field required">
            <label>이름</label>
            <input id="name" type="text"/>
        </div>
        <div class="field required">
            <label>휴대폰 번호</label>
            <input id="phone" type="text"/>
        </div>
        <div class="field required">
            <label>비밀 번호</label>
            <input id="password" type="password"/>
        </div>

        <div class="field required">
            <label>비밀 번호 확인</label>
            <input id="repassword" type="password"/>
        </div>
    </div>
</div>
</body>
</html>